{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center about_text">This is About Page</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ullam nihil quae dolorum. Dolorem, recusandae commodi! Perspiciatis alias ipsa temporibus aspernatur officia, ab consequuntur cupiditate porro consequatur ipsum rem dignissimos recusandae minus numquam commodi quibusdam iusto, omnis doloremque voluptatem officiis esse non delectus ratione! Tempora voluptatibus nihil autem hic unde! </p>
<img class="about_img" src="{% static 'img/01.jpg' %}" alt="Bangladesh">    
{% endblock %}